<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Usher REST API | Home</title>

<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>-->

<!-- Style sheet -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />


</head>

<body>
	<div id="main">
		<h1>Welcome to the Usher REST API Sample!</h1>

		<div class="container">
			<div class="row">
				<div class="span12">
					<form class="form-horizontal" action='' method="POST">
					  <fieldset>
						<div id="legend">
						  <legend class="">Login</legend>
						</div>
						<div class="control-group">
						  <!-- Username -->
						  <div class="controls" style="display:inline">
							<p>Username</p><input type="text" id="username" name="username" placeholder="username" class="input-xlarge">
						  </div>
						</div>
						<div class="control-group">
						  <!-- Password-->
						  <div class="controls" style="display:inline">
							<p>Password</p><input type="password" id="password" name="password" placeholder="password" class="input-xlarge">
						  </div>
						</div>
					  </fieldset>
					</form>
				</div>
			</div>
		</div>		

		<p class="index-link" link="white"><a href="qr">Login</a></p>

		<div id="footer">
			<img src="{{ url_for('static', filename='img/usher_by_microstrategy.png') }}" />
		</div>
	</div>
</body>

</html>
