<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Usher REST API | Home</title>

<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- Style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />

<script type="text/javascript">
	//console.log('hello');
	function sleep(ms) {
	  return new Promise(resolve => setTimeout(resolve, ms));
	}
	async function loop() {
		var count = 0;
		while (1){
			//console.log(count);
			//count++;
			getUpdate()
			await sleep(2000);
		}
	}

	function getUpdate() {
		//console.log("getUpdate...")
		$.ajax(
		{
			url: "/updateMesh",
			dataType: "json"
		})
		.done(function(data)
		{
			doUpdate(data['sector'], data['status'])

		})
	}

	function doUpdate(sector, status) {
	    console.log(sector, status)
	}

	loop();
</script>

</head>

<body>
	<div id="main">
		<h1>Security monitoring screen</h1>

	</div>
</body>

</html>
