<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Usher REST API | Home</title>

<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- Style sheet -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />

<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>
    <!-- Sidebar -->
	 <div id="wrapper">
            <div id="sidebar-wrapper">
               <ul class="sidebar-nav">
                       <li class="sidebar-brand">
                           <a href="index" style="color:white">
                               Usher Security
                           </a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Dashboard</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Shortcuts</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Overview</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Events</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">About</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Services</a>
                       </li>
                       <li>
                           <a href="index" style="color:white">Contact</a>
                       </li>
               </ul>
           </div>
           </div>
           <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" style="color:white"><img src="{{ url_for('static', filename='img/hamburger_icon.svg.png') }}"  height="30" width="30" /></a>
	<div id="main">
		<h1>Security monitoring screen</h1>
        <table>
                <thead>
                    <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Organization</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>Sector</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="one">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Google</td>
                    <td>Lunch Room</td>
                    <td id="here"></td>
                    <td id="there"></td>
                    </tr>
                    <tr id="two" bgcolor="green">
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>QualComm</td>
                    <td>2nd floor Computer Lab</td>
                    <td>good</td>
                    <td>2</td>
                    </tr>
                    <tr id="three" bgcolor="green">
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>Usher</td>
                    <td>1st floor Conference Room</td>
                    <td>good</td>
                    <td>4</td>
                    </tr>
                    <tr id="four" bgcolor="green">
                    <th scope="row">4</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>MicroSecurity</td>
                    <td>1st floor Bathroom</td>
                    <td>good</td>
                    <td>1</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <script type="text/javascript">
        //console.log('hello');
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function loop() {
            var count = 0;
            while (1){
                //console.log(count);
                //count++;
                getUpdate()
                await sleep(2000);
            }
        }

        function changeColor(status) {
            if (status == "good") {
                document.getElementById("one").style.backgroundColor = "aquamarine";
            } else if (status == "offline") {
                document.getElementById("one").style.backgroundColor = "yellow";
            } else if (status == "removed") {
                document.getElementById("one").style.backgroundColor = "red";
            } else if (status == "offline") {
                document.getElementById("one").style.backgroundColor = "red";
            } else {
                document.getElementById("one").style.backgroundColor = "grey";
            }
        }
    
        function getUpdate() {
            //console.log("getUpdate...")
            $.ajax(
            {
                url: "/updateMesh",
                dataType: "json"
            })
            .done(function(data)
            {
                changeColor(data['status'])
                doUpdate(data['sector'], data['status']);
    
            })
        }
    
        function doUpdate(sector, status) {
            let element0 = document.getElementById("here");
            element0.innerHTML = status;
            let element1 = document.getElementById("there");
            element1.innerHTML = sector;
    
        }
    
        loop();
    </script>
    	<!-- Menu Toggle Script -->
	<script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
    </script>
</body>

</html>
